body {
	background:none repeat scroll 0% 0% #EEE;
	margin: 0px auto;
	width: 500px;
}

input[type="checkbox"],label, p, hr{
	margin:6px;
}

span {
	margin: 4px;
}

.myDiv {
	padding: 20px;
	background: none repeat scroll 0% 0% #FFF;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin-top: 10px;
}

.ToDo {
	margin: 6px;
}

.doneToDo {
	text-decoration:line-through;
}

.panel-footer {
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.pretty_header {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-style: italic;
	text-align: center;
	margin: 10px;
}